.chat{
    background-color: #495579;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 0 auto;
    max-width: 550px;
    min-width: 425px;
    height: 75vh;
    margin: 10px auto;
    padding-top: 10px;
}
.messages{
    height: 100%;
    overflow: auto;
    width:100%;
}
