.input{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #251749;
}
.input input[type='text']{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: #495579;
    color: #FFFBEB;
}
.input input[type='text']::placeholder{
    color: #FFFBEB;
}
.input input[type='submit']{
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #495579;
    color: #FFFBEB;
    font-size: 12px;
}
.input input[type='file']{
    display: none;
}
.custom-file-upload ,span{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: #495579;
    color: #FFFBEB;
    width: 20px;
    font-size: 12px;
}