.message{
    border-bottom: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background: #FFFBEB;
    min-width: 60% !important;
    color: black !important;
}
.you{
    float: left;
}
.me{
    float: right;
}
.message-content p{
    margin: 0;
    padding: 0;
}